@model IEnumerable<greendoor.Models.ForumPost>

@foreach (var item in Model)
{
    <div class="post border border-success rounded">
        <br />
        <div class="col-lg-12 mx-auto">
            <h5 class="post-name">@item.PostName</h5>
            <p> Added by: <span class="added-by">@item.CustomerID)</span> </p>
            <p> Date Posted by: <span class="date-posted">12/11/2021 10.39AM</span> </p>

            <p class="post-description">@item.PostDescription)</p>

            <div class="comment-section">
                <p><u>Comments</u></p>

                <div class="comments"></div>
            </div>

        </div>

    </div>

    <br />
}

