@{
    ViewData["Title"] = "Forum";
}

<body class="text-center">
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold">Forum</h1>
        <p class="lead mb-4">Have friendly discussions and be kind!</p>

        <div>
            @if (Context.Session.GetString("Role") == "Customer" || Context.Session.GetString("Role") == "Owner")
            {
                <a asp-action="Create">Add Discussion Topic</a>
            }
            else
            {
                <p><a asp-action="Login" asp-controller="Home">Login </a> to add discussion topic!</p>
            }
        </div>

        <br /><br />

        <!-- first post will be hard-coded as it is written by greendoor dev team -->
        <div class="post border border-success rounded">
            <br />
            <div class="col-lg-12 mx-auto">
                <h5 class="post-name">Benefits of thrift shopping and the negative impacts of the fashion industry</h5>
                <p> Added by: <span class="added-by">GreenDoor Dev Team</span> </p>
                <p> Date Posted by: <span class="date-posted">12/11/2021 10.39AM</span> </p>

                <p class="post-description">Thrift shopping can help you lose weight and get 6pack abs!</p>

                <div class="comment-section">
                    <p><u>Comments</u></p>

                    <div class="comments"></div>
                </div>

            </div><br />

        </div><br />

        <!-- partial view that displays all forum discussion posts -->
        <partial name="~/Views/Forum/_ViewForumPosts.cshtml" model="@Model" />

    </div>
</body>

