@model IEnumerable<greendoor.Models.EcoEvents>

@{
    ViewData["Title"] = "Index";
}

<html>
<head>
     
    <meta charset="utf-8">
    
    <meta name="viewport" content="width = device-width,initial-scale = 1" />
    <title>Events</title>
   
    <link rel="stylesheet" type="text/css" href="~/css/Site.css">
</head>

<body class="text-center">
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold">Events</h1>
       
            <p class="lead mb-4"> Find Out The Latest Events</p>
            @*<button type="button" class="btn btn-success" asp-action="Create">Add Event </button>*@
     
        <div>

            @if (Context.Session.GetString("Role") == "Shop")
            {
                <p><a asp-action="Create">Add Event</a></p>
            }
        </div>
        
        <partial name="~/Views/Events/_ViewEvents.cshtml" model="@Model" />
    </div>
</body>
</html>
