<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>About</title>
</head>

<body>
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold">About Us</h1>

        <p class="lead mb-4"> Learn more about our website!</p>



        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4"><b>GreenDoor's Goal</b></p>
            <p>Save the earth by helping people make environmentally-informed buying choices​.</p><br />
        </div>

        <br />

        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4"><b>What is GreenDoor?</b></p>
            <p>
                GreenDoor is a website platform that educates and inspire people to buy only what they need,
                and if they were to buy, they buy in Thrift Shops where clothes are pre-owned
                so that they are worn again and not thrown away.
                Unlike a Google search, GreenDoor encourages people to save the earth by reducing, reusing and recycling.
            </p>
        </div>

        <br />

        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4"><b>Who GreenDoor is created for</b></p>
            <ul class="text-left">
                <li>For Thrift Shop Shoppers who are looking for thrift shops.</li>
                <li>For People stepping into or already having an eco-friendly lifestyle who are looking for sustainable fashion choices.</li>
                <li>For thrift shop owners who would like to connect and reach out to eco-friendly customers.</li>
            </ul>
        </div>


        <!-- Team Container -->
        <div class="px-4 py-5 my-5 text-center">
            <div class="w3-container w3-padding-64 w3-center" id="team">
                <h2>The Greendoor Family</h2>
                <p>Let's play our part!</p>

                <div class="w3-row">
                    <br>

                    <div class="w3-third">
                        <img src="~/images/boy.png" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
                        <h3>Amos</h3>
                        <p></p>
                    </div>

                    <div class="w3-third">
                        <img src="~/images/girl.png" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
                        <h3>Hannah</h3>
                        <p></p>
                    </div>
                    <div class="w3-third">
                        <img src="~/images/girl.png" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
                        <h3>Juliana</h3>
                        <p></p>
                    </div>



                </div>
                <div class="w3-row">
                    <div class="w3-third">
                        <img src="~/images/boy.png" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
                        <h3>Lay How</h3>
                        <p></p>
                    </div>

                    <div class="w3-third">
                        <img src="~/images/girl.png" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
                        <h3>Wei Shan</h3>
                        <p></p>
                    </div>
                    <div class="w3-third">
                        <img src="~/images/boy.png" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
                        <h3>You</h3>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>



        @*<div class="col-lg-6 mx-auto">
                <p class="lead mb-4"><b>Made by </b></p>
                <p>Amos, Hannah, Juliana, Lay How, Wei Shan</p>
            </div>*@
        <div style="
            height:60%;
            width:60%;">

            <img src="~/images/Ecology_Monochromatic.png"
                 style="position: absolute; float: left; left: 0px; bottom: 0px; z-index: -1; opacity: 0.7;">

        </div>
    </div>



</body>


</html>
