@model greendoor.Models.AdminShopViewModel

@{
    ViewData["Title"] = "Index";
}
<html>
<head>

    <meta charset="utf-8">
    <!-- Set the initial view zooming scale for mobile device -->
    <meta name="viewport" content="width = device-width,
 initial-scale = 1" />
    <title>Shops</title>
    <!-- Reference to customized styling for this website -->
    <link rel="stylesheet" type="text/css" href="~/css/Site.css">

</head>
<style>
    .container {
        z-index: 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .card {
        margin: 30px auto;
        width: 300px;
        height: 300px;
        border-radius: 40px;
        box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
        cursor: pointer;
        transition: 0.4s;
    }

        .card .card-img-top {
            width: inherit;
            height: inherit;
            border-radius: 40px;
        }

            .card .card-img-top img {
                width: inherit;
                height: inherit;
                border-radius: 40px;
                object-fit: cover;
            }

        .card .card-title {
            text-align: center;
            border-radius: 0px 0px 40px 40px;
            font-family: sans-serif;
            font-weight: bold;
            font-size: 30px;
            margin-top: -80px;
            height: 40px;
        }

        .card:hover {
            transform: scale(0.9, 0.9);
            box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), -5px -5px 30px 15px rgba(0,0,0,0.22);
        }

    .card-title {
        color: white;
    }
</style>

<body class="text-center">
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold">Shops</h1>

        <p class="lead mb-4"> Locate Thift Shops Around You</p>

        @if (Model.shopList.Count > 0)
        {

            <div class="container">
                <div class="split">
                    @foreach (var item in Model.shopList)
                    {
                        <div class="card" style="width:300px; margin-top:5%; margin-left:3%;">
                            <img class="card-img-top" src="~/images/@item.ShopPicture" alt="Card image" style="width:100%">
                            <div class="card-body">
                                <a asp-action="ShopDetails" asp-controller="Admin"
                                   asp-route-ShopID="@item.ShopID">
                                    <h4 class="card-title"> @item.ShopName</h4>
                                    @*<div class="card-footer">
                                        <a asp-action="Details" asp-controller="Shops"
                                           asp-route-id="@item.ShopID">Details</a>
                                    </div>*@
                                </a>
                            </div>


                        </div>
                        <br>
                    }

                </div>
            </div>

        }

        else
        {
            <span style="color:red">No record found!</span>
        }
        <div style="
        height:60%;
        width:60%;">

            <img src="~/images/Online Shopping_Isometric.png"
                 style="position:absolute;
        float:left;
        left:0px;
        bottom:0px;
        z-index:-1;">

        </div>
    </div>

</body>
</html>
