@model greendoor.Models.AdminShopViewModel
@{
    ViewData["Title"] = "Delete Shop";
}

<body>
    @*<h4 class="PageTitle">Add Event</h4>
    <hr />*@
    <div class="d-flex align-content-center justify-content-center">
        <div class="card my-5 shadow" style="width:1000px">
            <h2 class="card-title card-header bg-custom navbar-dark mb-3 text-center" style="color:#f5eec2">
                Delete Shop
            </h2>
            <div class="card-body">
                <form asp-action="ShopDelete" asp-controller="Admin" >
                    @Html.ValidationSummary(true)
                    <fieldset class="FormContent">
                        <div class="form-group row">
                            <label asp-for="ShopID"
                                   class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9 col-md-5">
                                <input asp-for="ShopID" class="form-control form-control-plaintext" readonly />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="ShopName"
                                   class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9 col-md-5">
                                <input asp-for="ShopName" class="form-control form-control-plaintext" readonly />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="ShopDescription"
                                   class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9 col-md-5">
                                <input asp-for="ShopDescription" class="form-control form-control-plaintext" readonly />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Zone"
                                   class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9 col-md-5">
                                <input asp-for="Zone" class="form-control-plaintext" readonly />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="ContactNumber"
                                   class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9 col-md-5">
                                <input asp-for="ContactNumber" class="form-control-plaintext" readonly />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="Address"
                                   class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9 col-md-5">
                                <input asp-for="Address" class="form-control form-control-plaintext" readonly />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="PostalCode"
                                   class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9 col-md-5">
                                <input asp-for="PostalCode" class="form-control form-control-plaintext" readonly />
                            </div>
                        </div>
                        @if (Model.SocialMediaLink != null)
                        {
                            <div class="form-group row">
                                <label asp-for="SocialMediaLink"
                                       class="col-sm-3 col-form-label"></label>
                                <div class="col-sm-9 col-md-5">
                                    <input asp-for="SocialMediaLink" class="form-control form-control-plaintext" readonly />
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="form-group row">
                                <label asp-for="SocialMediaLink"
                                       class="col-sm-3 col-form-label"></label>
                                <div class="col-sm-9 col-md-5">
                                    <input placeholder="Not Available" class="form-control form-control-plaintext" readonly />
                                </div>
                            </div>
                        }

                        @if (Model.WebsiteLink != null)
                        {
                            <div class="form-group row">
                                <label asp-for="WebsiteLink"
                                       class="col-sm-3 col-form-label"></label>
                                <div class="col-sm-9 col-md-5">
                                    <input asp-for="WebsiteLink" class="form-control form-control-plaintext" readonly />
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="form-group row">
                                <label asp-for="WebsiteLink"
                                       class="col-sm-3 col-form-label"></label>
                                <div class="col-sm-9 col-md-5">
                                    <input placeholder="Not Available" class="form-control form-control-plaintext" readonly />
                                </div>
                            </div>
                        }

                        <div class="form-group row">
                            <label asp-for="EmailAddr"
                                   class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9 col-md-5">
                                <input asp-for="EmailAddr" class="form-control form-control-plaintext" readonly />
                            </div>
                        </div>


                        <div class="form-group row">
                            <div class="col-sm-9 offset-sm-3">
                                <input type="submit" value="Delete" class="btn btn-primary" />
                            </div>
                        </div>
                        <div>
                            <a asp-action="ShopDetails" asp-controller="Admin" asp-route-ShopID="@Model.ShopID">Back to Shop</a>
                        </div>
                    </fieldset>
                </form>

            </div>
        </div>
    </div>


</body>