@model greendoor.Models.ShopReviewViewModel

@{
    ViewData["Title"] = "Add";
}
<form asp-action="_AddReviews">
    <fieldset class="FormContent">
        <div class="form-group review-row ">
            <label asp-for="ShopID"
                   class="col-sm-3 col-form-label sr-only"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="ShopID" readonly
                       class="form-control-plaintext sr-only" />
                </div>
        </div>
        <div class="form-group review-row">
            <label asp-for="CustomerID"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="CustomerName" readonly
                       class="form-control-plaintext" />
>>>>>>> e4a91425cff48dcd304f180d51e2c70e9075d968
            </div>
        </div>
        <div class="form-group review-row">
            <label asp-for="Rating"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="Rating" class="form-control" />
                <span asp-validation-for="Rating"
                      class="text-danger"></span>
            </div>
        </div>
        <div class="form-group review-row">
            <label asp-for="Description"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description"
                      class="text-danger"></span>
            </div>
        </div>
        <div class="form-group review-row">
            <div class="col-sm-9">
                <input type="submit" value="Submit"
                       class="btn btn-primary" />
            </div>
        </div>
    </fieldset>
</form>