@if (Model.shopPostList.Count > 0)
{

    <div class="container">
        <div class="row">
            @foreach (var item in Model.shopPostList)
            {
                <div class="card" style="width:100%; margin-bottom:2%;">

                    <div class="card-body">
                        <h4 class="card-title"> @item.PostName</h4>
                        <p class="card-title"><small>@item.DateTimePosted</small> </p>
                        <p class="card-title"> @item.PostDescription</p>
                    </div>

                </div>
                <br>






            }

        </div>
    </div>




}

else
{
    <span style="color:red">No record found!</span>
}
