<!--
{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

}
-->
<html>
<head>
    <!-- Use Unicode character encoding - multi-language compatibity -->
    <meta charset="utf-8">
    <!-- Set the initial view zooming scale for mobile device -->
    <meta name="viewport" content="width = device-width,
 initial-scale = 1" />
    <title>GreenDoor</title>
    <!-- Reference to customized styling for this website -->
    <link rel="stylesheet" type="text/css" href="~/css/Site.css">
    @*<style>
            body {
                background-image: url("../images/bg2.jpg");
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: 100% 100%;
            }
        </style>*@
</head>

<body>
    <div>You are logged in as a shop account</div>
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold">GreenDoor</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4"> Welcome to GreenDoor</p>
            <p>
                Thank you for sigining up for a shop account with us.<br />
                Here are a list of things that you can do with your shop account:<br />
                1. Edit your account details<br />
                2. Post shop details<br />
                3. Post forum topics<br />
                4. Post event<br />
            </p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a href="/Home/About" class="btn myButton">About Us</a>
            </div>
        </div>
    </div>

</body>
</html>
