@model IEnumerable<greendoor.Models.Shop>

@{
    ViewData["Title"] = "Index";
}
<html>
<head>
    <!-- Use Unicode character encoding - multi-language compatibity -->
    <meta charset="utf-8">
    <!-- Set the initial view zooming scale for mobile device -->
    <meta name="viewport" content="width = device-width,
 initial-scale = 1" />
    <title>Shops</title>
    <!-- Reference to customized styling for this website -->
    <link rel="stylesheet" type="text/css" href="~/css/Site.css">
</head>

<body class="text-center">
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold">Shops</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4"> Locate Thift Shops Around You</p>

        </div>
        


        <partial name="~/Views/Shops/_ViewShops.cshtml" model="@Model" />
</body>
</html>
