<!-- A grey navbar that expands horizontally at medium device -->
<nav class="navbar navbar-expand-md bg-custom navbar-dark">
    <!-- The brand(or icon) of the navbar -->
    <a class="navbar-brand" href="/Home/Index"
       style="font-size: 32px; font-weight: bold; color: #f5eec2; ">
        GreenDoor
    </a>
    <!-- Toggle/collapsible Button, also known as hamburger button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#staffNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Links in the navbar, displayed as drop-down list when collapsed -->
    <div class="collapse navbar-collapse" id="staffNavbar">
        <!-- Links that are aligned to the left,
        mr-auto: right margin auto-adjusted -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                
                <a class="nav-link" href="/Shops"><img class="menuicon" src="~/images/shop.png" style="width:30px">Shops</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Events"><img class="menuicon" src="~/images/calendar.png" style="width:20px">Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Forum"><img class="menuicon" src="~/images/chat.png" style="width:20px">Forum</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Home/About"><img class="menuicon" src="~/images/info.png" style="width:20px">About</a>
            </li>
        </ul>
        <!-- Links that are aligned to the right,
        ml-auto: left margin auto-adjusted -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="menuicon" src="~/images/register.png" style="width:20px">  Register
                </a>
                <div class="dropdown-menu dropdown-menu-light dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/Home/RegisterShop">As Shop</a>
                    <a class="dropdown-item" href="/Home/RegisterCustomer">As Customer</a>
                </div>
            </li>
            <li class="nav-item">
                <!-- A link for logging out user -->
                <a class="nav-link" href="/Home/Login"><img class="menuicon" src="~/images/sign-in.png" style="width:20px">Login</a>
            </li>
        </ul>
    </div>
</nav>