@{
    ViewData["Title"] = "About";
}

<body class="text-center">
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold">About Us</h1>
        <sub>Learn more about our website!</sub><br /><br />

        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">GreenDoor's Goal</p>
            <p>Save the earth by helping people make environmentally-informed buying choices​.</p><br />
        </div>

        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">What is GreenDoor?</p>
            <p>
                GreenDoor is a website platform that educates and inspire people to buy only what they need,
                and if they were to buy, they buy in Thrift Shops where clothes are pre-owned
                so that they are worn again and not thrown away.
                Unlike a Google search, GreenDoor encourages people to save the earth by reducing, reusing and recycling.
            </p><br />
        </div>

        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Who GreenDoor is created for</p>
            <ul>
                <li>For Thrift Shop Shoppers who are looking for thrift shops.</li>
                <li>For People stepping into or already having an eco-friendly lifestyle who are looking for sustainable fashion choices.</li>
                <li>For thrift shop owners who would like to connect and reach out to eco-friendly customers.</li>
            </ul><br />
        </div>

        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Made by </p>
            <p>Amos, Hannah, Juliana, Lay How, Wei Shan</p><br />
        </div>
    </div>

</body>
</html>
