@model greendoor.Models.RegisterShopViewModel

@{
    ViewData["Title"] = "Register";
}
<html>
<head>
    <!-- Use Unicode character encoding - multi-language compatibity -->
    <meta charset="utf-8">
    <!-- Set the initial view zooming scale for mobile device -->
    <meta name="viewport" content="width = device-width, initial-scale = 1" />
    <!-- Reference to customized styling for this website -->
    <link rel="stylesheet" type="text/css" href="~/css/Site.css">
</head>
<body>
    @if(ViewData["Message"] != null)
            {
                <div style="color:red;">@ViewData["Message"]</div>
            }
    <div class="d-flex align-content-center justify-content-center">
        <div class="card my-5 shadow" style="width:1000px">
            <h2 class="card-title card-header bg-custom navbar-dark mb-3 text-center" style="color:#f5eec2">
                Register Shop Account
            </h2>
            <div class="card-body">
                <form asp-action="RegisterShop" enctype="multipart/form-data">
                    <fieldset class="FormContent  ">
                      

                        <div class="form-group row">
                            <label asp-for="PhotoFile" class="col-sm-3 col-form-label">Shop Photo (jpg format):</label>
                            <div class="col-sm-9 col-md-5">
                                <input asp-for="PhotoFile" required accept="image/jpeg" />
                                <span asp-validation-for="PhotoFile" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="SocialMediaLink" class="col-sm-3 col-form-label">Social Media Link(Optional):</label>
                            <div class="col-sm-9 col-md-5">
                                <input asp-for="SocialMediaLink" class="form-control" placeholder="Social Media Link" />
                                <span asp-validation-for="SocialMediaLink" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="WebsiteLink" class="col-sm-3 col-form-label">Website Link(Optional):</label>
                            <div class="col-sm-9 col-md-5">
                                <input asp-for="WebsiteLink" class="form-control" placeholder="Website Link" />
                                <span asp-validation-for="WebsiteLink" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="ShopName" class="col-sm-3 col-form-label">Shop Name: </label>
                            <div class="col-sm-9 col-md-5">
                                <input asp-for="ShopName" class="form-control" required placeholder="Shop Name" />
                                <span asp-validation-for="ShopName" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="ShopDescription" class="col-sm-3 col-form-label">Shop Description: </label>
                            <div class="col-sm-9 col-md-5">
                                <input asp-for="ShopDescription" class="form-control" required placeholder="Shop Description" />
                                <span asp-validation-for="ShopDescription" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="Zone" class="col-sm-3 col-form-label">Zone: </label>
                            <div class="col-sm-9 col-md-5">
                                <select name="Zone" asp-items="@ViewData["zoneList"] as List<SelectListItem>" class="form-control"></select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="Address" class="col-sm-3 col-form-label">Address: </label>
                            <div class="col-sm-9 col-md-5">
                                <input asp-for="Address" class="form-control" required placeholder="Address" />
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="PostalCode" class="col-sm-3 col-form-label">Postal Code: </label>
                            <div class="col-sm-9 col-md-5">
                                <input asp-for="PostalCode" class="form-control" required placeholder="Postal Code" />
                                <span asp-validation-for="PostalCode" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="ContactNumber" class="col-sm-3 col-form-label">Contact Number: </label>
                            <div class="col-sm-9 col-md-5">
                                <input asp-for="ContactNumber" class="form-control" required placeholder="Contact Number" />
                                <span asp-validation-for="ContactNumber" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="EmailAddr" class="col-sm-3 col-form-label">Email: </label>
                            <div class="col-sm-9 col-md-5">
                                <input asp-for="EmailAddr" class="form-control" required placeholder="Email" />
                                <span asp-validation-for="EmailAddr" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="Password" class="col-sm-3 col-form-label">Password: </label>
                            <div class="col-sm-9 col-md-5">
                                <input asp-for="Password" class="form-control" required placeholder="Password" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-9 offset-sm-3">

                                <input type="submit" value="Register" class="btn btn-primary" />
                            </div>
                        </div>
                        </fieldset>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
