@model greendoor.Models.Customer

@{
    ViewData["Title"] = "Register";
}

<div class="px-4 py-5 my-5 text-center">
    <h4 class="PageTitle">Register Customer Account</h4>
    <br/>
    <form asp-action="Create">
        <fieldset class="FormContent  ">
            <div class="form-group row">
                <label asp-for="CustomerName"
                       class="sr-only" ></label>
                <div class="col-sm-9 col-md-5">
                    <input asp-for="CustomerName" class="form-control" required placeholder="Name"/>
                    <span asp-validation-for="CustomerName"
                          class="text-danger"></span>
                </div>
            </div>


            <div class="form-group row">
                <label asp-for="EmailAddr"
                       class="col-sm-3 col-form-label sr-only"></label>
                <div class="col-sm-9 col-md-5">
                    <input asp-for="EmailAddr" class="form-control" required placeholder="Email"/>
                    <span asp-validation-for="EmailAddr"
                          class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Password"
                       class="col-sm-3 col-form-label sr-only"></label>
                <div class="col-sm-9 col-md-5">
                    <input asp-for="Password" class="form-control" required placeholder="Password"/>
                    <span asp-validation-for="Password"
                          class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div>
                    <input type="submit" value="Register"
                           class="btn btn-primary" />
                </div>
            </div>
        </fieldset>
    </form>
</div>
