@{
    ViewData["Title"] = "User Profile";
}

<body class="text-center">
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold">User Profile</h1>

        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">User Details</p>
            <p>Name:</p>
            <p>Email:</p>
        </div>

        <br />

        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Favorite Shops</p>
            <p>Shop A</p>
            <p>Shop B</p>
        </div>
</body>

